<div class="flex flex-col flex-grow p-4 md:pr-8 w-5/6">

    <!-- Add category title -->

    <div class="flex items-center">
        <i class="fas fa-chevron-left cursor-pointer text-gray-900" (click)="backClicked()"></i>
        <h1 class="text-2xl font-medium ml-3 text-gray-900">New Category</h1>
    </div>
    <!-- category form -->

    <form class="mt-6 p-2 outline-gray rounded w-full">
        <input type="text" placeholder="Title" name="catName" [(ngModel)]="catName" class="outline-none w-full">
    </form>

    <!-- upload image -->

    <div class="flex flex-col md:flex-row md:items-center my-8">
        <div class="flex flex-col w-72">
            <img *ngIf="!imgUrl" class="h-60" src="/assets/placeholder.jpg">
            <img *ngIf="imgUrl" class="h-60" [src]="imgUrl">
            <p *ngIf="error" class="text-red-500 md:self-center text-sm my-2">{{error}}</p>
        </div>
        <input type="file" accept="image/*" #file (change)="selectImage($event)" class="hidden">
        <button
            class="self-center md:ml-5 py-2 px-4 bg-blue-500 text-white rounded mt-2 hover:bg-blue-600 cursor-pointer focus:outline-none"
            (click)="file.click()">
            Upload Image
        </button>
        <button *ngIf="!catLoading"
            class="self-center md:ml-5 py-2 px-4 bg-green-500 text-white rounded mt-2 hover:bg-green-600 cursor-pointer focus:outline-none"
            (click)="uploadCategory()">
            Confirm
        </button>
        <div *ngIf="catLoading" class="m-1 mt-5 md:ml-5 self-center">
            <div class="loader">
            </div>
        </div>
    </div>

</div>